<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.qqzq"
    android:installLocation="auto"
    android:versionCode="01"
    android:versionName="0.1">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="23" />

    <application
        android:name=".activity.BaseApplication"
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar"
        tools:replace="android:debuggable">

        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PasswordModifyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".subitem.find.activity.FindLocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".subitem.team.activity.CreateTeamActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".subitem.find.activity.FindTeamActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".subitem.game.activity.GamePublishActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".subitem.team.activity.SelectTeamActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".subitem.team.activity.TeamRuleActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".subitem.team.activity.TeamDetailActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".subitem.team.activity.TeamGalleryActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".subitem.team.activity.TeamMemberActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".subitem.game.activity.GameDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".subitem.game.activity.GameListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".subitem.game.activity.GameAttendanceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".subitem.game.activity.GameAttendanceDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".subitem.team.activity.MemberFeeManageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".subitem.team.activity.MemberFeeIncomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".subitem.team.activity.MemberFeeEditListActivity"
            android:screenOrientation="portrait" />
    </application>

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />
</manifest>
